
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    background-color: black;
    color: white;
    overflow: hidden;
   
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
}
.container1{
    display: flex;
    align-items: center;
    margin: 50px;
  
}
ul{
    list-style: none;
    display: flex;
    gap: 30px;
    font-family: 'Poppins';
    justify-content:right;
    
    
}


button{
    border-radius: 40px;
    background-color: black;
    padding: 10px;
    border-color: white;
    font-family: 'Poppins';
    margin: 5px;
   
}
h1,h6{
    font-family: 'Poppins';
   
}
h2{
    font-family: 'Montserrat';
    font-weight: 300;
}
h6{
    color: #5B0CDD;
}
h1{
    color: #5B0CDD;
}
li:hover{
    color: #5B0CDD;
}
button:hover{
    background-color: #5B0CDD;
}